<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lipengchao.parking.dao.ParkingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lipengchao.parking.entity.ParkingInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="car_id" property="carId" jdbcType="BIGINT" />
    <result column="carport_id" property="carportId" jdbcType="BIGINT" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="leave_time" property="leaveTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="BIGINT" />
    <result column="expense" property="expense" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_id, carport_id, arrive_time, leave_time, duration, expense, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lipengchao.parking.entity.ParkingInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_parkinginfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_parkinginfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_parkinginfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lipengchao.parking.entity.ParkingInfoExample" >
    delete from t_parkinginfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lipengchao.parking.entity.ParkingInfo" >
    insert into t_parkinginfo (id, car_id, carport_id, 
      arrive_time, leave_time, duration, 
      expense, status)
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=BIGINT}, #{carportId,jdbcType=BIGINT}, 
      #{arriveTime,jdbcType=TIMESTAMP}, #{leaveTime,jdbcType=TIMESTAMP}, #{duration,jdbcType=BIGINT}, 
      #{expense,jdbcType=BIGINT}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lipengchao.parking.entity.ParkingInfo" >
    insert into t_parkinginfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carportId != null" >
        carport_id,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="leaveTime != null" >
        leave_time,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="expense != null" >
        expense,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="carportId != null" >
        #{carportId,jdbcType=BIGINT},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        #{leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=BIGINT},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lipengchao.parking.entity.ParkingInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_parkinginfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_parkinginfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=BIGINT},
      </if>
      <if test="record.carportId != null" >
        carport_id = #{record.carportId,jdbcType=BIGINT},
      </if>
      <if test="record.arriveTime != null" >
        arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.leaveTime != null" >
        leave_time = #{record.leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.duration != null" >
        duration = #{record.duration,jdbcType=BIGINT},
      </if>
      <if test="record.expense != null" >
        expense = #{record.expense,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_parkinginfo
    set id = #{record.id,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=BIGINT},
      carport_id = #{record.carportId,jdbcType=BIGINT},
      arrive_time = #{record.arriveTime,jdbcType=TIMESTAMP},
      leave_time = #{record.leaveTime,jdbcType=TIMESTAMP},
      duration = #{record.duration,jdbcType=BIGINT},
      expense = #{record.expense,jdbcType=BIGINT},
      status = #{record.status,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lipengchao.parking.entity.ParkingInfo" >
    update t_parkinginfo
    <set >
      <if test="carId != null" >
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="carportId != null" >
        carport_id = #{carportId,jdbcType=BIGINT},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="leaveTime != null" >
        leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=BIGINT},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lipengchao.parking.entity.ParkingInfo" >
    update t_parkinginfo
    set car_id = #{carId,jdbcType=BIGINT},
      carport_id = #{carportId,jdbcType=BIGINT},
      arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      leave_time = #{leaveTime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=BIGINT},
      expense = #{expense,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>